tr.row1 {
    background-color: rgba(0,0,0,.05);
}

tr.distinct {
    color: #fff;
    background-color: #772953;
    border-color: #642246;
}

p.help-block {
    color: #999;
    font-size: 0.8rem;
}

tr.spacer > td {
  padding-bottom: 3em;
}

li.nav-item {
    text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
    div.center-navbar-container {
        margin-left: -40px;
    }
}

.spacer {
    margin-top: 60px;
}

nav.navbar {
    margin-bottom: 2em;
}