{% extends "core/base.html" %}
{% load i18n tags %}
{% block content %}
<h1>{% trans "Playoff matches in" %} {{ TOURNAMENT.name }}</h1>

{% if not matches %}
    {% trans "There are no playoff matches, yet." %}
{% endif %}

{% if matches %}
    {% if TOURNAMENT.match_points %}
        <div class="alert alert-primary" role="alert">
            {% trans "Each playoff win awards" %} <strong>{{ TOURNAMENT.match_points }}</strong> {% trans "points towards the total standings." %}
        </div>
    {% endif %}

    <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">{% trans "Player 1" %}</th>
            <th scope="col"></th>
            <th scope="col">{% trans "Player 2" %}</th>
            {% if TOURNAMENT.is_multiple_division  %}
                <th scope="col">{% trans "Division" %}</th>
            {% endif %}
            <th scope="col">{% trans "Game" %}</th>
            <th scope="col">{% trans "Winner" %}</th>
            {% if request.user.is_staff %}
                <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

    {% for match in matches %}
        {% ifchanged match.division %}
            {% if TOURNAMENT.is_multiple_division  %}
                <tr class="distinct">
                    <td colspan="10"><h5>{{ match.division }} {% trans "Division" %}</h5>
                </tr>
            {% endif %}
            <tr>
                <td colspan="10">
                    <small>
                        {% trans "Number of players in the playoff" %}:
                        {% if match.division == "A" %}
                            {{ TOURNAMENT.number_of_players_in_a_division }}
                        {% endif %}
                        {% if match.division == "B" %}
                            {{ TOURNAMENT.number_of_players_in_b_division }}
                        {% endif %}
                    </small>
                </td>
            </tr>
        {% endifchanged %}
        {% ifchanged match.round and rounds_are_different %}
            <tr>
                <td colspan="10"><strong>{% trans "Round" %} {{ match.round }}</strong></td>
            </tr>
        {% endifchanged %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td><a href="{{ get_player_url match.player1 TOURNAMENT }}">{{ match.player1.get_initials_and_name }}</a></td>
            <td><small>{% trans "vs." %}</small></td>
            <td><a href="{{ get_player_url match.player2 TOURNAMENT }}">{{ match.player2.get_initials_and_name }}</a></td>
            {% if TOURNAMENT.is_multiple_division  %}
                <td>{{ match.division }}</td>
            {% endif %}
            <td>{{ match.game }}</td>
            <td>
                {% if not match.winner %}
                    <small>{% trans "N/A" %}</small>
                {% else %}
                    <a href="{{ get_player_url match.winner TOURNAMENT }}">{{ match.winner.get_initials_and_name }}</a>
                {% endif %}
            </td>
            {% if request.user.is_staff %}
                <th scope="col"><small><a href="" data-url="{{ match.get_admin_url }}?set_winner=true" class="set-winner-link">{% trans "Set winner" %}</a></small></th>
            {% endif %}
        </tr>
    {% endfor %}
{% endif %}
{% endblock %}