{% extends "core/base.html" %}
{% load i18n tags %}
{% block content %}
    <h1>{{ player.get_initials_and_name }} ({{ player.country.name }})</h1>

    {% if position %}
        <h3>
            {% if not TOURNAMENT.playoffs_are_active %}
                {% trans "Position" %}:
            {% else %}
                {% trans "Qualifying position" %}:
            {% endif %}
            <a href="/?tournament={{ TOURNAMENT.id }}">{{ position }}</a>
        </h3>
    {% endif %}

    {% if player.get_ifpa_url %}
        <a href="{{ player.get_ifpa_url }}">{% trans "View on IFPA" %}</a>
    {% endif %}

    {% if score_overview %}
        <div class="small-spacer"></div>
        <h3>{% trans "Score overview" %}</h3>
        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{% trans "Game" %}</th>
                <th scope="col">{% trans "Score" %}</th>
                <th scope="col">{% trans "Position" %}</th>
                <th scope="col">{% trans "Points" %}</th>
            </tr>
        </thead>
        {% for overview in score_overview %}
            <tr>
                <td>{{ overview.game }}</td>
                <td>
                    {% if overview.score %}
                        {{ overview.score.score|intdot }}
                    {% else %}
                        <small>{% trans "N/A" %}</small>
                    {% endif %}
                </td>
                <td>
                    {% if overview.position %}
                        {% if overview.position == 1 %}
                            <strong>
                        {% endif %}
                        {{ overview.position }}
                        {% if overview.position == 1 %}
                            </strong>
                        {% endif %}
                    {% else %}
                        <small>{% trans "N/A" %}</small>
                    {% endif %}
                </td>
                <td>
                    {% if overview.position == 1 %}
                        <strong>
                    {% endif %}
                    {{ overview.points }}
                    {% if overview.position == 1 %}
                        </strong>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td><strong>{% trans "Total points" %}</strong></td>
            <td><strong>{{ total_points }}</strong></td>
        </tr>
        </table>
    {% endif %}
    {% include "core/includes/game_scores.html" with game_scores=game_scores player=player %}
{% endblock %}