{% extends "core/base.html" %}
{% load i18n tags %}
{% block content %}
<h1>{% trans "Registered Score" %}</h1>
    <a href="{% url 'register_score' %}?tournament={{ TOURNAMENT.id }}">{% trans "Register a new score" %}</a> | <a href="{% url 'index' %}?tournament={{ TOURNAMENT.id }}&q=true">{% trans "View standings" %}</a>
    <hr />
    <h3>{% trans "Player" %}</h3>
    <a href="{% get_player_url score.player TOURNAMENT %}">{{ score.player.get_initials_and_name }}</a>
    <h3>{% trans "Game" %}</h3>
    <a href="/?tournament={{ TOURNAMENT.id }}#{{ score.game.id }}">{{ score.game.name }}</a>
    <h3>{% trans "Score" %}</h3>
    {{ score.score|intdot }}

    {% if not score_ends_with_zero %}
        <div class="alert alert-primary" role="alert">
        {% trans "The score doesn't end with a zero. Make sure you entered the correct score. Contact the tournament administration if you have entered the wrong score." %}
        </div>
    {% endif %}

    <h3>{% trans "Positon" %}</h3>
    {{ position }}
    <h3>{% trans "Points" %}</h3>
    {{ points }}
    <hr />
{% endblock %}