{% load i18n tags %}
<h3>
    {% trans "Scores" %}
    {% if game_scores|length %}
        ({{ game_scores|length }} {% trans "games" %})
    {% endif %}
</h3>

<div class="alert alert-warning" role="alert">
    <small>
    {% for game_score in game_scores %}
        <a href="#{{ game_score.id }}">{{ game_score.name }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
    </small>
</div>

{% if not game_scores %}
    <div class="alert alert-warning" role="alert">
        {% trans "There are no scores" %}
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table">
        <tbody>
        {% for game_score in game_scores %}
            <tr class="distinct fluff">
                <td colspan="10"><a id="{{ game_score.id }}"><h4>{{ game_score.name }}</h4></a></td>
            </tr>
            {% if not game_score.scores %}
                <tr>
                    <td colspan="10">{% trans "There are no scores for this game" %}</td>
                </tr>
            {% endif %}
            {% for game_score in game_score.scores %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td><strong>{{ game_score.position }}</strong> {% if game_score.points %}({{ game_score.points }}){% endif %}</td>
                    <td>{{ game_score.score|intdot }}</td>
                    <td><a href="{{ game_score.player.get_url }}">{{ game_score.player.get_initials_and_name }}</a></td>
                    <td><i class="{{ game_score.player.country.flag_css }}"></i></td>
                </tr>
            {% endfor %}
            {% if player %}
                <tr>
                    <td colspan="10"><small><a href="/#{{ game_score.id }}">{% trans "View all game scores" %}</a></small></td>
                </tr>
            {% endif %}
            <tr class="spacer"><td colspan="10"></td></tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}
