{% load i18n tags %}
<h3>
    {% trans "Scores" %}
    {% if game_scores|length %}
        ({{ game_scores|length }}
        {% if game_scores|length > 1 %}
            {% trans "games" %})
        {% else %}
            {% trans "game" %})
        {% endif %}
    {% endif %}
</h3>

{% if game_scores %}
    <div class="alert alert-warning" role="alert">
        {% for game_score in game_scores %}
            <a href="#{{ game_score.id }}">{{ game_score.name }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if display_score_links %}
    <a href="{% url 'latest_scores' %}?{{ request.GET.urlencode }}">{% trans "Latest scores" %}</a>
    | <a href="{% url 'top_scores' %}?{{ request.GET.urlencode }}">{% trans "Top scores" %}</a>
{% endif %}

<div class="tiny-spacer"></div>

{% if not game_scores %}
    <div class="alert alert-warning" role="alert">
        {% trans "There are no scores" %}
    </div>
{% else %}
    <div class="table-responsive">
        <table class="table">
        <tbody>
        {% for game in game_scores %}
            <tr class="distinct fluff">
                <td colspan="10">
                    <a id="{{ game.id }}">
                    <h4>
                        {% if game.is_canceled %}
                            <del>
                        {% endif %}
                        {{ game.name }}
                        {% if game.is_canceled %}
                            </del>
                        {% endif %}
                        {% if game.is_canceled %}
                            ({% trans "Canceled" %})
                        {% endif %}
                    </h4>
                    </a>
                </td>
            </tr>
            {% if not game.scores %}
                <tr>
                    <td colspan="10">{% trans "There are no scores for this game" %}</td>
                </tr>
            {% endif %}
            {% for game_score in game.scores %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>
                        {% if game.is_canceled %}
                            <del>
                        {% endif %}
                        <strong>{{ game_score.position }}</strong> {% if game_score.points %}({{ game_score.points }}){% endif %}
                        {% if game.is_canceled %}
                            </del>
                        {% endif %}
                    </td>
                    <td>
                        {% if game.is_canceled %}
                            <del>
                        {% endif %}
                            {{ game_score.score|intdot }}
                        {% if game.is_canceled %}
                            </del>
                        {% endif %}
                    </td>
                    <td>
                        {% if game.is_canceled %}
                            <del>
                        {% endif %}
                        <a href="{% get_player_url game_score.player TOURNAMENT %}">{{ game_score.player.get_initials_and_name }}</a>
                        {% if game.is_canceled %}
                            </del>
                        {% endif %}
                    </td>
                    <td><i class="{{ game_score.player.country.flag_css }}"></i></td>
                    {% if request.user.is_staff %}
                        <td><small><a href="{{ game_score.get_admin_url }}" target="_blank">{% trans "Edit score" %}</a></small></td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% if player %}
                <tr>
                    <td colspan="10"><small><a href="/#{{ game_score.id }}">{% trans "View all" %} {{ game_score.name }} {% trans "scores" %}</a></small></td>
                </tr>
            {% endif %}
            <tr class="spacer"><td colspan="10"></td></tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}
